
embabel-agent-api/src/main/resources/mcp/**

/build/**
*/build/**
/.gradle/**
*/.gradle/**


/target/**
*/target/**
*/*/target/**
*/*/*/target/**

**/application-dev.properties

.idea/workspace.xml

**/.project
**/.classpath
**/.settings/**
**/.vaadin/**
*/bin/**


**/*.log

.idea